---
layout: default
title: Archives of Henry Li's Blog
description: Coding for fun. Manage Your Project - You can do well, you must do well.
permalink: /archives/
---

<div class="header">
    <div class="container">
        <a class="logo" id="earth-logo" title="Time is flying." href="/"><img src="/images/demo/earth_logo.png" alt="Earth"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
    </div><!--/end container-->
    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/categories/">Categories</a></li>
                <li class="active"><a href="/archives/">Archives</a></li>
                <li><a href="/books/">Books</a></li>
                <li class="mega-menu-fullwidth"><a href="/about/">About</a></li>
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div><!--=== End Header ===-->
<!--=== Content Part ===-->
<div class="container content">
    <div class="row blog-page">
        <!-- Left Sidebar -->
        <div class="col-md-9 md-margin-bottom-30">
            {% for post in site.posts %}
                <div class="row blog blog-medium margin-bottom-10">
                    <div class="col-md-12">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i> {{ post.record_on | date: " %Y 年 %m 月 %d 日" }}</li>
                            <li><i class="fa fa-tags"></i>
                              {% for tag in post.tags %}
                                 <a href="/categories/{{tag}}">{{ tag }}</a>
                              {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div><!--End Blog Post-->
            {% endfor %}
            <!--Pagination-->
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div><!--End Pagination-->
        </div><!-- End Left Sidebar -->
        <!-- Right Sidebar -->
        <div class="col-md-3">
            <div class="headline headline-md"><h2>Search</h2></div>
            <div class="input-group margin-bottom-30">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn-u" type="button">Go</button>
                </span>
            </div>
            <!-- Tabs Widget -->
            <div class="headline headline-md"><h2>Years</h2></div>
            <div class="margin-bottom-30">
                <ul class="tags-v1" style="list-style: none;padding-left: 0;">
                    <li><a class="rounded-3x" href="#">2018 （10）</a></li>
                    <li><a class="rounded-3x" href="#">2017 （10）</a></li>
                    <li><a class="rounded-3x" href="#">2016 （10）</a></li>
                    <li><a class="rounded-3x" href="#">2015 （10）</a></li>
                    <li><a class="rounded-3x" href="#">2014 （10）</a></li>
                    <li><a class="rounded-3x" href="#">2013 （10）</a></li>
                    <li><a class="rounded-3x" href="#">2012 （10）</a></li>
                </ul>
            </div>
            <!-- Photo Stream -->
            <div class="headline headline-md"><h2>Books</h2></div>
            <ul class="list-unstyled blog-photos margin-bottom-30">
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/1.jpg"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/2.jpg"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/3.jpg"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/1.jpg"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/2.jpg"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/3.jpg"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/1.jpg"></a></li>
                <li><a href="#"><img class="hover-effect" alt="" src="/images/demo/2.jpg"></a></li>
            </ul>
            <!-- End Photo Stream -->
        </div>
        <!-- End Right Sidebar -->
    </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->

