---
layout: page
title: Archives
permalink: /archives/
---

<div class="tabbable tabs-right row-fluid">
  <ul class="nav nav-tabs" id="archives-nav">
    {% for post in site.posts order: record_on %}
      {% capture current_year %}{{ post.record_on | date: "%Y" }}{% endcapture %}
      {% capture previous_year %}{{ post.next.record_on | date: "%Y" }}{% endcapture %}

      {% if forloop.first %}
        <li>
          <a href="#{{ current_year }}-ref" data-toggle="tab">
            {{current_year}} 年
          </a>
        </li>
      {% else %}
        {% if previous_year != '' And previous_year != nil %}
          {% if current_year != previous_year %}
            <li>
              <a href="#{{ current_year }}-ref" data-toggle="tab">
                {{current_year}} 年
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>


  <div class="tab-content">
    {% for post in site.posts order: record_on %}
      {% capture current_year %}{{ post.record_on | date: "%Y" }}{% endcapture %}
      {% capture previous_year %}{{ post.next.record_on | date: "%Y" }}{% endcapture %}

      {% if forloop.first %}
        <div class="tab-pane" id="{{ current_year }}-ref">
          <ul class="posts-list">
            <li>
              <span class="category-archive">
              <a href="{{ post.url }}">{{ post.title }}</a>
              </span>
              <span class="post-right-info pull-right">
                {{ post.record_on | date: " %Y 年 %m 月 %d 日" }}
              </span>
            </li>
      {% elsif forloop.last %}
            <li>
              <span class="category-archive">
              <a href="{{ post.url }}">{{ post.title }}</a>
              </span>
              <span class="post-right-info pull-right">
                {{ post.record_on | date: " %Y 年 %m 月 %d 日" }}
              </span>
            </li>
          </ul>
        </div>
      {% else %}
        {% if previous_year != '' And previous_year != nil %}
          {% if current_year != previous_year %}
              </ul>
            </div>
            <div class="tab-pane" id="{{ current_year }}-ref">
              <ul class="posts-list">
                <li>
                  <span class="category-archive">
                  <a href="{{ post.url }}">{{ post.title }}</a>
                  </span>
                  <span class="post-right-info pull-right">
                    {{ post.record_on | date: " %Y 年 %m 月 %d 日" }}
                  </span>
                </li>
          {% else %}
            <li>
              <span class="category-archive">
              <a href="{{ post.url }}">{{ post.title }}</a>
              </span>
              <span class="post-right-info pull-right">
                {{ post.record_on | date: " %Y 年 %m 月 %d 日" }}
              </span>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}

    {% endfor %}
  </div>
</div>

<script>
  $(function () {
    $('#archives-nav a:first').tab('show');
  })
</script>
