<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Henry Lee's Blog</a>
      <div class="nav-collapse">
        <ul class="nav" id="header-nav">
          <li>
            <a href="/"><i class="icon-home"></i> Home </a>
          </li>
          <li>
            <a href="/categories/"><i class="icon-tags"></i> Categories </a>
          </li>
          <li>
            <a href="/archives/"><i class="icon-list"></i> Archives </a>
          </li>
          <li>
            <a href="/books/"><i class="icon-book"></i> Books </a>
          </li>
          <li>
            <a href="/about/"><i class="icon-heart"></i> About </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>