body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#books_table  td {
    text-align: center;
}

#books_table  img {
     height: 138px;
}

#header-title {
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.sub-title {
    font-weight: bold;
    background-color: #88BFFE;
}

.sub-item {
    background-color: #F1FBFD;
}


.fuelux body {
  background: url(../images/galaxy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/galaxy.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/galaxy.jpg', sizingMethod='scale')";
}

.footer p {
  color: #fff;
}

.fuelux .navbar .brand {
  font-weight: 500;
}

#header-nav li {
  margin-left: 15px;
}

#header-nav li a { text-decoration: none; }
#header-nav li:hover {
  -moz-transform: scale(1.25) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1.25) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1.25) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.25) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1.25) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
/*Navigation*/
#header-nav li:nth-child(1) a { color: #26ADE4; }
#header-nav li:nth-child(2) a { color: #9DC425; }
#header-nav li:nth-child(3) a { color: #DABB1E; }
#header-nav li:nth-child(4) a { color: #E86A03; }
#header-nav li:nth-child(5) a { color: #B066ED; }

#rocket {
  display: block;
  position: fixed;
  z-index: 99;
  _position: absolute;
}

#rocket a {
  display: block;
  position: fixed;
  bottom: 26px;
  right: 30px;
  width: 50px;
  height: 73px;
  background: url("../images/rocket.png") 0 0 no-repeat;
}

#rocket img {
  display: none;
  position: fixed;
  bottom: 1px;
  right: 45px;
  width: 20px;
  height: 30px;
}