---
layout: default
---

<div class="header">
    <div class="container">
        <a class="logo" id="earth-logo" title="Time is flying." href="/"><img src="/images/demo/earth_logo.png" alt="Earth"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
    </div><!--/end container-->
    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/categories/">Categories</a></li>
                <li><a href="/archives/">Archives</a></li>
                <li class="active"><a href="/books/">Books</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div><!--=== End Header ===-->

  {{ content }}

