<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="author" itemprop="author" content="Henry Lee" />
  <meta name="keywords" itemprop="keywords" content="{% if page.tags %}{{ page.tags }}{% else %} Henry Lee's Blog {% endif %}" />
  <meta name="description" itemprop="description" content="{% if page.description %}{{ page.description }}{% else %} Henry Lee {% endif %}" />
  <meta name="viewport" content="width=device-width" />
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
  <script src="/javascripts/modernizr.foundation.js"></script>
</head>
<body>
  <div class="row">
    <div class="twelve columns">
      <h1>{{ site.title }}</h1>
      <ul class="nav-bar">
        <li><a href="/">Home</a></li>
        <li><a href="/categories/">Categories</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
{{ content }}
  </div>
  <footer class="row">
    <div class="twelve columns">
      <div class="row">
        <div class="six columns">
          <p> Project maintained by <a href="https://github.com/manageyp" target="_blank">Henry Lee</a>&nbsp;&nbsp;
            Feel free to <a href="mailto:manageyp@gmail.com?subject=Hello%20Henry&body=Greeting%20from%20your%20blog.">contact</a> me.
          </p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="http://foundation.zurb.com/" target="_blank">Based on Foundation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <a href="https://github.com/manageyp" target="_blank">
    <img style="position:absolute;top:0;right:0;border:0;width:135px;height:135px;" src="/images/forkme_right_red.png" alt="Fork me on GitHub" />
  </a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/javascripts/foundation.min.js"></script>
</body>
</html>