<!DOCTYPE html>
<html  class="fuelux" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="author" itemprop="author" content="Henry Lee" />
  <meta name="keywords" itemprop="keywords" content="{% if page.tags %}{{ page.tags }}{% else %} Henry Lee's Blog {% endif %}" />
  <meta name="description" itemprop="description" content="{% if page.description %}{{ page.description }}{% else %} Henry Lee {% endif %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <link href="/stylesheets/fuelux/fuelux.min.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/fuelux/fuelux-responsive.min.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
  <link rel="stylesheet" href="/stylesheets/prettify.css">
  <link rel="stylesheet" href="/stylesheets/sunburst.css">

  <link rel="stylesheet" href="/stylesheets/blog_base.css">

  <script src="/javascripts/jquery.min.1.8.2.js"></script>
  <script src="/javascripts/fuelux/loader.min.js"></script>

  <script src="/javascripts/prettify.js"></script>
  <script src="/javascripts/lang-css.js"></script>
  <script src="/javascripts/main.js"></script>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" onload="prettyPrint();">
  {% include nav.html %}
  <div class="container">
    <div class="hero-unit">
      {{ content }}
    </div>
    {% include footer.html %}
   </div>
</body>
</html>