---
layout: default
---
<div class="nine columns" role="content">
  <h3>{{ page.title }}</h3>
{{ content }}
</div>
<div class="three columns">
  <div class="panel">
    <p>
      <a href="https://github.com/manageyp"><image src="/images/avatar.jpg" /></a>
      <ul style="margin-bottom: 0px;list-style-type:none;">
        <li>Henry Lee</li>
        <li>Ruby developer</li>
      </ul>
    </p>
  </div>
  <div class="panel">
    <a href="https://github.com/manageyp" class="fc-webicon github large">Fork me on Github</a><br/>
    <a href="mailto:manageyp@gmail.com?subject=Hello%20Henry&body=Greeting%20from%20your%20blog." class="fc-webicon github large">Email to me</a>
  </div>
</div>